:root {
  --toggler-border-left-width: 0px;
  --toggler-size: 16px;
}

.root {
  border-color: currentColor;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  outline: none;
  line-height: 0;
  user-select: none;
}

.root {
  border-left-width: var(--toggler-border-left-width);
  width: var(--toggler-width, var(--toggler-size));
  height: var(--toggler-height, var(--toggler-size));
}

.root svg {
  transform: rotate(-90deg);
  display: block;
}

.root.active {
  border-left-width: var(--toggler-border-left-width-active, 0);
}

.root.active svg {
  transform: rotate(90deg);
}

