:root {
  --sidebar-header-border-bottom-width: 0px;
  --sidebar-header-border-color: transparent;
  --sidebar-header-border-style: solid;
  --sidebar-minified-width: 50px;
  --sidebar-inner-padding: 8px;
  --sidebar-background-color: transparent;
  --toggler-size: 20px;
}

.root {
  position: relative;
  width: auto;
  z-index: 0;
}

.root.enlarged {
  width: 25%;
}

.root.minified {
  width: var(--sidebar-minified-width);
}

.root.minified > * {
  align-items: center;
}

.root.pinned {
  position: absolute;
  z-index: 100;
  background-color: var(--sidebar-background-color);
  height: 100%;
}

.root.pinned:not(.minified){
  width: 100%;
}

/* <Sidebar.Inner> */
.sidebarInner {
  padding: var(--sidebar-inner-padding);
}
/* </Sidebar.Inner> */

/* <Panel.Header> */
.panelHeader {
  border-color: var(--sidebar-header-border-color);
  border-style: var(--sidebar-header-border-style);
  border-width: 0;
}
.panelHeader {
  border-bottom-width: var(--sidebar-header-border-bottom-width);
}
/* </Panel.Header> */

/* <Toggler> */
.toggler {
  padding-bottom: var(--header-padding-bottom);
  padding-left: var(--header-padding-right);
  padding-right: var(--header-padding-right);
  padding-top: var(--header-padding-top);
}

.togglerEnlarged {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
/* </Toggler> */
