.DS_Store
.idea/
.nyc_output
node_modules
/es
/lib
/packages
/styleguide
/coverage
*.sw*

/src/packages/*/es/*
!/src/packages/*/es/.gitkeep
/src/packages/*/rollup
/src/packages/*/rollup.config.js
/src/packages/*/.babelrc.json
