.root{}

.root .row{
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.root .col{
  display: flex;
  height: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

/* Debug mode */

.root.debug .row{
  background: transparent;
}

.root.debug .row > div[class^="Grid_col"]{
  background: transparent;
  outline: none;
}

.root.debug .row{
  background: rgba(0, 0, 255, 0.1);
  outline: 1px dashed rgba(0, 0, 155, 0.5);
}

.root.debug .col{
  background: rgba(0, 255, 0, 0.1);
  outline: 1px dashed rgba(0, 155, 0, 0.5);
}
