:host, .root {
  --layout-switcher-control-padding-size: 14px;

  --media-ui-button-border-top-left-radius: 0;
  --media-ui-button-border-top-right-radius: 0;
  --media-ui-button-border-bottom-right-radius: 0;
  --media-ui-button-border-bottom-left-radius: 0;

  --media-ui-icons-color: currentColor;
  --media-ui-icons-color-active: currentColor;
}

.root {
  background: no-repeat center center #fff;
  border-bottom: 0;
  border-left: 1px solid #b8b8b8;
  border-right: 0;
  border-top: 0;
  box-sizing: content-box;
  color: #b8b8b8;
  cursor: pointer;
  display: inline-block;
  height: var(--layout-switcher-control-height, 20px);
  outline: none;
  padding-bottom: var(--layout-switcher-control-padding-size);
  padding-left: var(--layout-switcher-control-padding-size);
  padding-right: var(--layout-switcher-control-padding-size);
  padding-top: var(--layout-switcher-control-padding-size);
  position: relative;
  width: var(--layout-switcher-control-width, 20px);
}
.root.active,
.root:hover:not(:disabled) {
  background-color: #F6F6F6;
  color: #333;
}
.root:disabled {
  color: #333;
  cursor: not-allowed;
}

.root svg {
  display: block;
}
.root.active svg path,
.root:hover:not(:disabled) svg path {
  fill: #333;
}

.root .bullet {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 6px;
  height: 6px;
}
.root .bullet svg path {
  fill: #FF7256;
  stroke: #FF7256;
}
