.horizontalDivider {
  border-bottom: 1px solid #E9E9E9;
  margin: 5px 0;
  width: 100%;
}

.verticalDivider {
  border-left: 1px solid #E9E9E9;
  margin: 5px 6px;
}

.verticalDivider.noBorder,
.horizontalDivider.noBorder {
  border: none;
}
