.wrapper {
  padding: 5px 4px;
}

.wrapper.round {
  padding: 0;
}

.button {
  outline: none;

  display: flex;
  justify-content: center;
  cursor: pointer;

  --button-color: transparent;
  --button-hover-color: #E9E9E999;
  --button-active-color: #E9E9E9;
}

.button.children {
  --button-color: #f5f7fb;
  --button-hover-color: #ece1ff;
  --button-active-color: #caafff;
}

.button.button__size_md {
  width: 36px;
  height: 36px;
  border-radius: 5px;
}

.button.button__size_lg {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.button.button__size_xl {
  width: 44px;
  height: 44px;
  border-radius: 10px;
}

.button.round {
  border-radius: 50%;
  padding: 2px;
}

.button.button_fillWidth {
  width: auto;
}

.button {
  background-color: var(--button-color)
}

.button.button_active:hover,
.button.button_active {
  background-color: var(--button-active-color);
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button.round {
  background-color: transparent;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
}

.button.round.button_active:hover,
.button.round.button_active {
  background-color: transparent;
  border-color: var(--button-active-color);
}

.button.round:hover {
  background-color: transparent;
  border-color: var(--button-hover-color);
}

.button.button_padded {
  margin-bottom: 8px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.group::after {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  border: 4px solid transparent;
  border-right-color: #4A4A4A;
  border-bottom-color:#4A4A4A;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 2px;
}
