.button {
  border-radius: 8px;
  padding: 6px;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.button svg {
  width: 28px;
  height: 28px;
}

.button.button_fillWidth {
  width: auto;
}

.button.button_active:hover,
.button.button_active {
  background-color: #ECEDF3;
}

.button.button_padded {
  margin-bottom: 8px;
}

.button:hover {
  background-color: #F5F6F9;
}

.colorIndicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}

.colorIndicatorWrapper {
  position: absolute;
  content: '';
  right: 2px;
  bottom: 2px;
  padding: 2px;
  border-radius: 50%;
  background-color: #FFFFFF;
  z-index: 0;
}

@media screen and (max-width: 1899px) {
  .button {
    padding: 6px;
  }

  .button svg {
    width: 24px;
    height: 24px;
  }

  .colorIndicator {
    width: 6px;
    height: 6px;
  }
}
