.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  outline: none;
}

.root .listWrapper {
  margin-right: var(--presentation-preview-mr, 30px);
  margin-bottom: var(--presentation-preview-mb, 0);
  width: 0;
  overflow: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform .15s linear;
  will-change: width;
}

.root .listWrapper.isShown {
  width: var(--presentation-preview-width, auto);
  transform: translateX(0);
}

.root .listWrapper .list {
  padding: 0 10px;
}

.root .listWrapper .list .preview {
  display: flex;
  padding-bottom: 10px;
}

.root .listWrapper .list .preview:last-child {
  padding-bottom: 0;
}

.root .listWrapper .list .preview .number {
  flex: 1;
  margin-right: 8px;
  font-size: 12px;
  line-height: 130%;
  color: #4A4A4A;
;
}

.root .listWrapper .list .preview .image {
  height: 74px;
  width: 129px;
  position: relative;
}

.root .listWrapper .list .preview .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.root .listWrapper .list .preview .placeholder {
  width: 120px;
  height: 68px;
  position: relative;
  box-sizing: border-box;
  border: 2px dashed #EEEEEE;
}

.root .listWrapper .list .preview:hover .image {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.root .listWrapper .list .preview.active .image::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #1A96F6;
}

.root .slideWrapper {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  padding-top: var(--presentation-slide-wrapper-pt, 0);
  padding-right: var(--presentation-slide-wrapper-pr, 0);
  padding-bottom: var(--presentation-slide-wrapper-pb, 0);
  padding-left: var(--presentation-slide-wrapper-pl, 0);
}

.root .slideWrapper .slide {
  flex: 1;
  position: relative;
}

.root .slideWrapper .slide_centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root .slideWrapper .slide .mainImage {
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.root .slideWrapper .slide .slotSlide {
  position: absolute;
}

.centeredX {
  left: 50%;
  transform: translateX(-50%);
}

.centeredY {
  top: 50%;
  transform: translateY(-50%);
}

.centeredXY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fitToWidth {
  overflow: hidden;
  overflow-y: scroll;
}

.root .slideWrapper .controls {
  min-height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root .slideWrapper .controls .text {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.root .slideWrapper .controls .linkArrow {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  cursor: pointer;
  outline: none !important;
  user-select: none;
}

.root .slideWrapper .controls .linkArrow:hover,
.root .slideWrapper .controls .linkArrow:active {
  color: #48A1E6;
}

.root .slideWrapper .controls .linkArrow svg path {
  fill: #333333;
}

.root .slideWrapper .controls .linkArrow:hover svg path,
.root .slideWrapper .controls .linkArrow:active svg path {
  fill: #48A1E6;
}

.root .slideWrapper .controls .linkArrow .linkArrowIcon {
  vertical-align: text-top;
  line-height: 1em;
}

.listWrapper,
.slide {
  scrollbar-width: 6px;
  scrollbar-color: #B8B8B8 rgba(184, 184, 184, 0.2);
}

.listWrapper::-webkit-scrollbar,
.slide::-webkit-scrollbar {
  width: 6px;
}

.listWrapper::-webkit-scrollbar-thumb,
.slide::-webkit-scrollbar-thumb {
  background: #B8B8B8;
}

.listWrapper::-webkit-scrollbar-track,
.slide::-webkit-scrollbar-track {
  background: rgba(184, 184, 184, 0.2);
}
