:host, .root {
  --media-ui-icons-color: #333;
  --media-ui-action-button-group-padding-top: 14px;
  --media-ui-action-button-group-padding-right: 14px;
  --media-ui-action-button-group-padding-bottom: 14px;
  --media-ui-action-button-group-padding-left: 14px;
}

.root {
  display: inline-block;
  font-size: 1em;
  padding: var(--media-ui-action-button-group-padding-top) var(--media-ui-action-button-group-padding-right) var(--media-ui-action-button-group-padding-bottom) var(--media-ui-action-button-group-padding-left);
  position: relative;
}
.root:hover {
  cursor: pointer;
}
.root.disabled {
  cursor: not-allowed;
}
.root + .root {
  margin-left: 25px;
}

/* TODO: add media-queries */

.root .button {
  --media-ui-button-padding-bottom: 0;
  --media-ui-button-padding-left: 0;
  --media-ui-button-padding-right: 0;
  --media-ui-button-padding-top: 0;
}
.root .button {
  background: transparent;
  border: 0;
  display: flex;
  font-weight: 500;
  position: relative;
}
.root:hover
,.root:hover .button > *
{
  color: #48A1E6;
}
.root:active
,.root.active
,.root:active .button > *
,.root.active .button > *
{
  color: #48A1E6;
}
.root .button.active > *
,.root .button:active > *
{
  filter: brightness(83%);
}

.root .textAfter {
  padding-left: 10px
}

.root .underline {
  height: 3px;
  width: 100%;
  margin-top: 10px;
}
.root:hover .underline {
  background-color: #48A1E6;
}
.root:active .underline
,.root.active .underline
{
  background-color: #48A1E6;
  filter: brightness(83%);
}

.root .bullet {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 6px;
  height: 6px;
  top: 0;
}
.root .bullet > svg path {
  fill: #FF7256;
  stroke: #FF7256;
}

