.root {
  --location-viewport-object-size: 20px
}

.root .outer {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.root .object { }

.root .cursor {
  position: absolute;
  transition: transform .25s linear;
}

.root .cursorItem
,.root .cursorText
{
  user-select: none;
}

.root .cursorItem {
  display: block;
  transform-origin: top left;
  transition: transform .3s linear;
}

.root .cursorText {
  display: inline-block;
  margin: 0 12px;
  padding: 2px 3px;
}

.root .cursorItem > * {
  --icons-size-xs: var(--location-viewport-object-size);
  display: block;
}

.root .cursorItem svg path {
  width: inherit;
  height: inherit;
  fill: currentColor;
}
