.contextMenuWrapper {
  width: min-content;
  background: #fff;
  padding: 8px 12px;
  margin: 0;
  gap: 8px;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 12px;
  border: 1px solid #babcc9;
}
