.wrapper {
  width: 100%;
}

.toolbarWrapper,
.optionsWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.toolbarWrapper {
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.optionsWrapper {
  transition: all 0.5s;
  background: #F1F3F6;
  transform: translateY(68px);
  padding-bottom: 68px;
  margin-bottom: -68px;
}

.optionsWrapper.optionsWrapper_opened {
  transform: translateY(0)
}

.floaterMenu {
  position: absolute;
  right: 0;
  background-color: #F1F3F6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  top: 20px;
  transition: all 0.5s;
  padding: 8px 12px 16px;
}

.floaterMenu.floaterMenu_opened {
  transform: translateY(-100%);
}

.root {
  user-select: none;

  line-height: 1;
}

.root.root_vertical {
  background-color: #FFFFFF;
  border: 1px solid #E9E9E9;
  width: 62px;
  padding: 5px 10px 5px 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.root.root_horizontal {
  padding: 10px 5px 6px 5px;
  background-color: #fff;
  z-index: 10;
}

.button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button.fillWidth {
  width: auto;
}
.button:hover {
  background-color: #F6F6F6;
}
.button:active,
.button.active {
  background-color: #E9E9E9;
}
.button[type="button"] {
  background-color: transparent;
  border: 0;
}
.button:disabled
,.button:disabled:hover
,.button:disabled:active
,.button:disabled.active
{
  background-color: transparent;
}
.button[type="button"]:active:not(:disabled){
  transform: scale(1.1)
}

.button > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.group::after {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  border: 3px solid transparent;
  border-right-color:#333333;
  border-bottom-color:#333333;
  bottom: 3px;
  right: 3px;
}

.floater {
  user-select: none;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;

}

.separator {
  width: 100%;
  height: 1px;
  margin: 12px 0 2px;
  background-color: #E9E9E9;
}

.horizontalSeparator {

}

.colorButtonInner
,.buttonInner
{
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.button > .colorButtonInner
,.button > .buttonInner
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonInner.geomTool svg path {
  fill: transparent;
}

.buttonInner.svgStroke svg path {
  stroke: currentColor;
}

.text {
  margin: 12px 0 2px;
  font-size: 14px;
  line-height: 20px;
  color: #B8B8B8;
  text-align: center;
}
