.root {
  padding: 8px;
  background-color: #fff;
  border-radius: 12px;
  user-select: none;
  border: 1px solid #babcc9;
  z-index: 2;
  line-height: 1;
}

.button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.fillWidth {
  width: auto;
}

.button:hover {
  background-color: #f6f6f6;
}

.button:active,
.button.active {
  background-color: #e9e9e9;
}

.button[type='button'] {
  background-color: transparent;
  border: 0;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active,
.button:disabled.active {
  background-color: transparent;
}

.button[type='button']:active:not(:disabled) {
  transform: scale(1.1);
}

.button > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group::after {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  border: 3px solid transparent;
  border-right-color: #333;
  border-bottom-color: #333;
  bottom: 3px;
  right: 3px;
}

.floater {
  user-select: none;
}

.tools {
  gap: var(--gap);
}

.row {
  --gap: var(--drawing-toolbar-gap, 8px);

  display: flex;
}

@media screen and (min-width: 375px) {
  .root.compact .row {
    --gap: var(--drawing-toolbar-gap, 15px);
  }
}

.row > .button ~ .button {
  margin-left: 10px;
}

.col {
  --gap: var(--drawing-toolbar-gap, 8px);

  display: flex;
  flex-direction: column;
}

.col > .button ~ .button {
  margin-top: 10px;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 12px 0 2px;
  background-color: #e9e9e9;
}

.colorButtonInner,
.buttonInner {
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.button > .colorButtonInner,
.button > .buttonInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonInner.geomTool svg path {
  fill: transparent;
}

.buttonInner.svgStroke svg path {
  stroke: currentcolor;
}

.text {
  margin: 12px 0 2px;
  font-size: 14px;
  line-height: 20px;
  color: #b8b8b8;
  text-align: center;
}

.toolbarButtonWrapper {
  display: flex;
}
