.root {}

.root .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shape { }

.shapeSolid { }

.shape svg path
,.shape svg rect
,.shapeSolid svg path
,.shapeSolid svg rect
{
  stroke: currentColor;
}

.shape svg path
,.shape svg rect
{
  fill: transparent;
}

.shapeSolid svg path
,.shapeSolid svg rect
{
  fill: currentColor;
}
